.section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.section > div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.section > div:hover {
    cursor: pointer;
}

.disabled {
    background-color: lightgray;
}
.booked {
    background-color: #88d8fa;
}

.section .disabled:hover {
    cursor: not-allowed;
}

button {
    margin-top: 10px;
}
